build/
.cache/
pci
.vscode/ltex.dictionary.en-GB.txt
.vscode/ltex.dictionary.en-US.txt
.vscode/ltex.hiddenFalsePositives.en-GB.txt
include/parmgmc/common/helpers.hh.old
report/main.aux
report/main.bbl
report/main.bcf
report/main.blg
report/main.fdb_latexmk
report/main.fls
report/main.log
report/main.out
report/main.pdf
report/main.run.xml
report/main.synctex.gz

*.~undo-tree~